<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multi-View Todo List</title>
  <link rel='stylesheet' href='stylesheets/reset.css'>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='javascripts/handlebars.js'></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/babel" src="/javascripts/todo.js"></script>
</head>
<body>

  <div id='modal'>
    <ul>
      <li>
        <label for='title'>Title</label>
        <input type='text' name='title' placeholder='Item 1'>
      </li>
      <li>
        <label for='due_date'>Due Date</label>
        <div id='select_container'>
          <select name='month'>
            <option>Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>/
          <select name='day'>
            <option>Day</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>/
          <select name='year'>
            <option>Year</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
          </select>
        </div>
      </li>
      <li>
        <label for='description'>Description</label>
        <textarea placeholder='Description'></textarea>
      </li>
      <li>
        <label></label>
        <button name='save_todo'>Save</button>
        <button name='mark_complete'>Mark As Complete</button>
      </li>
    </ul>
  </div>

  <input type="checkbox" name="hamburger" id="hamburger"/>
  <label for="hamburger"><img src="/images/hamburger.png" alt="navigation button"></label>

  <nav>
    <h2 id='nav_header_all_groups' data='all' class='highlight'>
      <img src='images/label.png'>
      <p>All Todos</p>
      <span>0</span>
    </h2>
    <ul id='nav_list_all_groups' data='all'>
    </ul>
    <h2 id='nav_header_completed_groups' data='completed'>
      <img src='images/completed.png'>
      <p>Completed</p>
      <span>0</span>
    </h2>
    <ul id='nav_list_completed_groups' data='completed'>
    </ul>
  </nav
  ><main>
    <div id=listing_detailed_todos>
      <header>
        <h1>All Todos</h1>
        <span>0</span>
        <button name='addTodo'><img src='images/plus.png'>Add new to do</button>
      </header>
      <article>
        <dl>
          <ul id='main_todos'>
          </ul>
        </dl>
      </article>
    </div>
  </main>

  <script id='todo_item_template' type='text/x-handlebars'>
    {{#each todos}}
    <li data={{id}}>
      <dt>
        {{#if completed}}
          <img data='checkbox' src='images/checked.png'>
          <p class='completed'>{{title}} - {{date}}</p>
        {{else}}
          <img data='checkbox' src='images/checkbox.png'>
          <p>{{title}} - {{date}}</p>
        {{/if}}
      </dt><!--
   --><dd>
        <img data='delete' src='images/trash.png'>
      </dd>
    </li>
    {{/each}}
  </script>

  <script id='nav_group_template' type='text/x-handlebars'>
    {{#each todos}}
    {{#if completed}}
    <li>
      <p>{{date}}</p>
      <span>{{count}}</span>
    </li>
    {{else}}
    <li>
      <p>{{date}}</p>
      <span>{{count}}</span>
    </li>
    {{/if}}
    {{/each}}

  </script>

</body>
</html>