body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

/* Navigation */

nav {
  position: absolute;
  display: block;
  width: 250px;
  background: #464f77;
  height: 100%;
}

nav header {
  position: relative;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  font-size: 18px;
  color: whitesmoke;
  cursor: pointer;
}

nav li {
  position: relative;
  text-align: center;
  padding: 10px;
  cursor: pointer; 
  color: #b3b3b3;
}

#nav_list_completed_groups p {
  text-decoration: line-through;
}

nav h2 {
  display: inline-block;
}

nav img {
  position: absolute;
  left: 8%;
  top: 15%;
}

nav span {
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 0;
  margin-right: 20px;
  width: 19px;
  height: 20px;
  background-color: #6b7292;
  border-radius: 50%;
  color: #b3b3b3;
}

.highlight {
  background-color: #383f5f;
  color: #fff;
}

.highlight span {
  background-color: #148fd5;
  color: #fff;
}

/* Main */

main {
  display: block;
  margin-left: 280px;
  height: 100%;
  background: #fff;
  margin-right: 60px;
  max-width: 1300px;
}

/* Main Header */

header {
  text-align: center;
}

header span {
  display: inline-block;
  margin-left: 20px;
  width: 19px;
  background-color: #148fd5;
  border-radius: 50%;
  color: #fff;
}

header h1 {
  display: inline-block;
  margin-top: 50px;
  font-size: 24px;
  font-weight: normal;
}

header button {
  display: block;
  background-color: #fff;
  padding: 0;
  border: none;
  height: 30px;
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #148fd5;
  margin-top: 20px;
}

header img {
  margin: 0 10px;
}

/* Main Definition List */

dl .completed {
  text-decoration: line-through;
  color: #b3b3b3;
}

dl {
  margin-top: 15px;  
}

dl dt, dl dd, dl img, dl p {
  display: inline-block;
}

dl p {
  cursor: pointer;
}

dl img {
  margin: 0 10px;
}

dl dd {
  text-align: right;
  width: 10%;
  padding: 15px 0;
  cursor: pointer;
}

dl dd:hover {
  background-color: #ffb3b3;
}

dl dt {
  text-align: left;
  width: 90%;
  padding: 17px 0;  
}

dl dt:hover {
  background: #cce6ff;
}

dl div {
  border-top: 1px solid lightgray;
}

/* Modal */

#modal {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  padding: 35px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#modal ul {
  width: 500px;
  margin: 0;
  padding: 0;
}

#modal li {
  display: block;
  width: 550px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

#modal label {
  font-size: 16px;
  display: inline-block;
  width: 100px;
}

#modal textarea{
  display: inline-block;
  height: 150px;
  width: 400px;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  font-size: 16px;
}

#modal input {
  display: inline-block;
  width: 400px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: 16px;
}
#due_date {
  display: inline-block;
  width: 400px;
}
#due_date select {
  width: 30%;
}

#modal button {
  background: #148fd5;
  color: #fff;
  height: 35px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
}

#hamburger, label[for="hamburger"], label[for="hamburger"] img {
	display: none;
  position: absolute;
  top: 15px;
  left: 15px;
}

label[for="hamburger"] img {
	width: 25px;
}

/* Media related view */

@media (max-width: 768px) {

	nav {
		display: none;
		width: 200px;
	}

	main {
		margin-left: 30px;
	}

  label[for="hamburger"], label[for="hamburger"] img {
		display: block;
	}

	#hamburger:checked ~ nav  {
		display: block;
	}

	#hamburger:checked ~ main  {
		margin-left: 230px;
	}	

	#hamburger:checked ~ label[for="hamburger"] {
		left: 212px;
	}

}
